@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800');
@font-face {
    font-family: LONDONSIXTY;
    src: url(../fonts/Chalet/LONDONSIXTY.ttf);
}

#unionHUD {
    color: white;
    font-family: LONDONSIXTY;
    font-weight: 400;
}
/* Помощь рядом с персом */
#unionHUD .helpTags { 
    float: left;
}
#unionHUD .hudSMW{ 
    position: absolute; 
    top: calc( 0vh ); 
    right: 0px; 
}
#unionHUD .helpTags .block:not(:first-child) {
    margin-top: 5px;
}
#unionHUD .helpTags .block .colorSquare {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    text-align: center;
}
#unionHUD .helpTags .block .colorSquare.red {
    background-color: rgba(255, 0, 0, 0.75);
}
#unionHUD .helpTags .block .colorSquare.green {
    background-color: rgba(0, 255, 0, 0.75);
}
#unionHUD .helpTags .block {
    width: 278px;
    height: 24px;
    line-height: 24px;

    background-color: rgba(0, 0, 0, 0.20);
    border-right: 2px solid red;

    font-size: 13px;

    display: flex;
}
/* Меню помощи */
/* Меню помощи */
#unionHUD .helpMenu {

}


#unionHUD .helpMenu .disabled.left svg:nth-of-type(1) {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -38px;
    transform: scaleX(-1);
}
#unionHUD .helpMenu .disabled.left svg:nth-of-type(2) {
    transform: rotate(0deg);
    position: absolute;
    left: 0;
    top: 50%;
}
/* Выключенное состояние */
#unionHUD .helpMenu .disabled svg:nth-of-type(1) {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -38px;
    transform: scaleX(1);
}
#unionHUD .helpMenu .disabled svg:nth-of-type(2) {
    transform: rotate(-180deg);
    position: absolute;
    right: 0;
    top: 50%;
}

#unionHUD .helpMenu .active.left {
    left: 30px !important;
}
#unionHUD .helpMenu .disabled.left label {
    left: 0;
}

/*
#unionHUD .helpMenu .disabled svg:nth-of-type(1) {
    transform: scaleX(1);
}
*/
/*
#unionHUD .helpMenu .disabled svg:nth-of-type(2) {
    transform: rotate(180deg);
}
*/

#unionHUD .helpMenu .disabled label {
    position: absolute;
    top: 50%;
    right: 0;
    height: 90px;
    width: 30px;
    z-index: 5;
    /*background: silver;*/
    opacity: 0.5;
    margin-top: -35px;
}

/* Активное */
#unionHUD .helpMenu .active {
    width: 175px;
    /* height: 156px; */
    height: 190px;
    /* background-color: rgba(0, 0, 0, 0.50); */

    background-image: -moz-linear-gradient(90deg, rgba(0,0,0,0.10) 0%, rgba(0,0,0,0.5) 100%);
    background-image: -webkit-linear-gradient(90deg, rgba(0,0,0,0.10) 0%, rgba(0,0,0,0.5) 100%);
    background-image: -ms-linear-gradient(90deg, rgba(0,0,0,0.10) 0%, rgba(0,0,0,0.5) 100%);

    position: absolute;
    /* right: 20px; */
    right: 30px;
    top: 50%;
    /*top: 465px;*/

    /* opacity: 0.5; */
    padding: 15px;
    margin-top: -95px;
    opacity: 0;
}
#showDisplay {
    display: none;
}

#showDisplay:checked + .disabled.left svg:nth-of-type(1) {
    transform: scaleX(1) !important;
}
#showDisplay:checked + .disabled.left svg:nth-of-type(2) {
    transform: rotate(-180deg) !important;
}

#showDisplay:checked + .disabled svg:nth-of-type(1) {
    transform: scaleX(-1) !important;
}
#showDisplay:checked + .disabled svg:nth-of-type(2) {
    transform: rotate(0) !important;
}

#unionHUD .helpMenu .active .item {
    /* display: inline-flex;
    line-height: 28px;
    margin-top: 18px;
    font-size: 16px;
    margin-left: 10px; */

    display: block;
    padding-bottom: 15px;
    line-height: 24px;
    /*margin-top: 12px;*/
    /*font-size: 16px;*/
    /*margin-left: 10px;*/
    /* margin-top: 9px; */

    /* margin-top: 9px; */
    position: relative;
}
#unionHUD .helpMenu .active .item .button {
    /* border-style: solid;
    border-width: 2px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-color: rgba(255, 255, 255, 0.63);

    position: absolute;
    right: 10px; */

    border-style: solid;
    border-width: 2px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-color: rgba(255, 255, 255, 0.63);
    position: absolute;
    /*right: 10px;*/
    /*margin-top: -2px;*/
    position: absolute;
    top: 0;
    right: 0;
}
#unionHUD .helpMenu .active .item .button small {
    font-size: 12px;
}

#showDisplay:checked + .disabled + .active {
    opacity: 1;
}



/* Информация о сервере */
#unionHUD .serverInfo {
    position: absolute;
    /* bottom: 3px; */
    bottom: 0;
    left: 29px;
    font-family: 'Open Sans', sans-serif;
}

#unionHUD .serverInfo span svg { 
    width: calc( (100vw - 1280px)/(1920 - 1280) * (10 - 8) + 8px); 
    height: calc( (100vw - 1280px)/(1920 - 1280) * (10 - 8) + 8px); 
} 
#unionHUD .serverInfo span { 
    font-size: calc( (100vw - 1280px)/(1920 - 1280) * (12 - 10) + 10px); 
}
#unionHUD .serverInfo span:nth-of-type(2) {
    margin-left: calc( (100vw - 1280px)/(1920 - 1280) * (9 - 1) + 2px);
}
#unionHUD .serverInfo span:nth-of-type(3) {
   margin-left: calc( (100vw - 1280px)/(1920 - 1280) * (16 - 1) + 2px);
}
/* Звёзды розыска */
#unionHUD .wantedStars {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}
#unionHUD .wantedStars .wanted {
    fill: white !important;
}
/* деньги */
#unionHUD .money .cash {
    float: right;
    margin-right: 20px;
}
#unionHUD .money .cash div{
    float: right;
}
#unionHUD .money .cash div svg{
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 4px;
}
#unionHUD .money .cash #cash {
    font-size: 24px;
    font-weight: 800;
    color: #48d670;
    display: initial;
    margin-left: 4px;
    letter-spacing: 1.4px;
}
#unionHUD .money .cash #plusCash {
    font-size: 13px;
    color: #48d670;
    letter-spacing: 1.1;
    line-height: 30px;
    text-align: right;
}
#unionHUD .money .inAnimation {
    animation: plusCashIn 1s;
}
@keyframes plusCashIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
#unionHUD .money .outAnimation {
    animation: plusCashOut 1s;
    animation-fill-mode: forwards;
}
@keyframes plusCashOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
#unionHUD .money .card {
    float: right;
    margin-right: 20px;
}
#unionHUD .money .card div{
    float: right;
}
#unionHUD .money .card div svg{
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 4px;
}
#unionHUD .money .card #cardMoney {
    color: white;
    display: initial;
    font-size: 18px;
    letter-spacing: 1.19px;
}
#unionHUD #cardAddMoney {
    font-size: 13px;
    color: white;
    letter-spacing: 1px;
    line-height: 22px;
}
/* Оружие */
#unionHUD .weaponStatus {
    display: -webkit-inline-box;
    font-size: 28px;

    position: absolute;
    right: 30px;
    /* top: 163px; */
    top: 139px;
}
#unionHUD .weaponInfo {
    display: flex;

    border-left: 1px white solid;
    height: 30px;
    margin-left: 8px;
}
#unionHUD .weaponStatus .pt {
    margin-left: -5px;
    position: relative;
    left: 17px;
    top: -6px;
    font-size: 30px;
}
#unionHUD .weaponStatus .ptrem {
    font-size: 20px;
    position: relative;
    left: 19px;
    top: -4px;
}
#unionHUD .weaponStatus .calib {
    font-size: 10px;

    position: relative;
    top: 16px;
    right: 1px;
    letter-spacing: 1;
}
/* Требования перса */
#unionHUD .interaction .lomka {
    width: 111px;
    height: 20px;
    font-size: 13px;
    text-align: center;
    line-height: 20px;
    border-radius: 3px;
    background-image: -webkit-linear-gradient( 0deg, rgb(245,92,0) 0%, rgba(255, 255, 255, 0) 100%);
}
#unionHUD .interaction .bad {
    width: 111px;
    height: 20px;
    font-size: 13px;
    text-align: center;
    line-height: 20px;
    border-radius: 3px;
    background-image: -webkit-linear-gradient( 0deg, rgb(182,33,33) 0%, rgba(255, 255, 255, 0) 100%);
}
/* 
@media screen and (min-width: 1280px) and (max-height: 800px) {
    {
        background-color: darkcyan;
    }
    #unionHUD .helpMenu .disabled svg:nth-of-type(2) {
        top: 55.1vh;
    }
}
@media screen and (max-width: 1366px) and (max-height: 768px) {
    {
        background-color: darkgoldenrod;
    }
    #unionHUD .helpMenu .disabled svg:nth-of-type(2) {
        top: 55.4vh;
    }
}
@media screen and (min-width: 1440px) and (max-height: 900px) {
    {
        background-color: darkkhaki;
    }
    #unionHUD .helpMenu .disabled svg:nth-of-type(2) {
        top: 54.65vh;
    }
}
@media screen and (min-width: 1600px) and (max-height: 900px) {
    {
        background-color: darkolivegreen;
    }
    #unionHUD .helpMenu .disabled svg:nth-of-type(2) {
        top: 54.7vh;
    }
} */